
/* .footer{
    padding-top: -2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 0;
    margin-bottom: 0cm;
} */
.footer{
    /* position: fixed; */
    /* bottom: 0;    */
    margin-top: 490px; 
    background-color:rgb(18, 26, 26);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2000px;
}
.links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    margin-bottom: 2rem;
}
.div {
    width:100px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:white;
}
.social{
    display:flex ;
    flex-direction: row;
}
.social img{
    width: 80%;
}
.div h1
{
    font-size: 20px;
    list-style: 17px;
    margin-bottom: 0.9rem;
}
h1{
    color: aliceblue;
    font-size: larger;
}
.div p{
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}
.below{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 0.2rem;
}
.below-links{
    font-size: 11px;
    line-height: 15px;
    margin-left: 2rem;
    color:white;
    font-weight: 500;
}
hr{
    color: white;
    width: 100%;
}


